body {
    background-color: #d4d4d4;;
    min-height: 100%;
    height: 100%;
    position: relative;
}
h1{
    font-weight: 700;
    font-size: 3em;
}

#try {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0%;
}


#mainNavbar .nav-link:hover{
    color: #ea5a3e;
}

.card:hover {
    transform: scale(1.01);
}

#content{
    text-align: center;
    color: white;
    padding-top: 15%;
    padding-bottom: 15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#demo-button {
  height: 125px;
  width: 150px;
  color: #d4d4d4;
  border: 10px solid #ea5a3e;
}
#demo-button1 {
  height: 150px;
  width: 190px;
  color: #d4d4d4;
  margin-bottom: 10px;
  border: 7px solid #d4d4d4;
  
}
.course-img {
    height: 300px;
}

.image-stack {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
  }
  
  .image-stack__item--bottom {
    grid-column: 8 / 2;
    grid-row: 1;
  }
  
  .image-stack__item--top {
    grid-row: 1 / 2;
    grid-column: 1 / span 8;
    padding-top: 30%; 
    z-index: 1; 
  }
  
  .nac-img {
    width: 600px;
    height: 300px;
    display: block;
  }

  .image-stack__item--bottom1 {
    grid-column: 8 / 2;
    grid-row: 1 / 2;
  }
  
  .image-stack__item--top1 {
    grid-row: 1;
    grid-column: 8 / span 8;
    padding-top: 30%; 
    padding-right: 0%;
    z-index: 1; 
  }

  .about-img {
    width: 400px;
    height: 550px;
  }

  .hrdivider {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .hrdivider span {
    position: absolute;
    top: -20px;
    background: #d4d4d4;
    padding: 0 10px;
    font-weight: bold;
    font-size: 26px;
  }
.content-center {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center
}

ul {
  display: flex;
  list-style: none
}

@media (max-width:700px) {
  ul {
      display: block
  }
}

ul li {
  margin: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative
}

ul li i {
  transition: all 0.3s linear
}

ul li:hover i {
  color: #fff;
  font-size: 17px
}

ul li:hover::after {
  opacity: 1;
  transform: scale(0.8)
}

ul li::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s linear
}

ul li:nth-child(1) {
  border: 2px solid white;
  color: white
}

ul li:nth-child(1)::after {
  background-color: white;
  color: white
}

ul li:nth-child(2) {
  border: 2px solid white;
  color: white
}

ul li:nth-child(2)::after {
  background-color: white;
  color: white
}

ul li:nth-child(3) {
  border: 2px solid white;
  color: white
}

ul li:nth-child(3)::after {
  background-color: white;
  color: white
}
