.contact {
    padding: 50px 0;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.contact .heading h2 span {
    color: #ea5a3e;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ea5a3e;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
}

/*FAQ section, where the accordion is kept, including section specific css*/
#faq{
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
  
  #faq .add{ /*Add is the name for the plus icon*/
    display: block;
  }
  
  #faq .remove{ /*Remove is the name for the less icon*/
    display: none;
  }
  
  #faq i{ 
    font-size: 20px;
  }
  
  /*Accordion container and each item*/
  .accordion{
    max-width: 800px;
    
    margin: 0 auto;
    padding: 0 1.5rem;
  } 
  
  .accordion-item{
    background-color: transparent;
    border-bottom: 3px solid #ea5a3e;
    
    margin-bottom: 10px;
    padding: 10px;
  }
  
  /*Styles for the question*/
  
  .accordion-title{
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;

  }
  
  .accordion-title:hover{
    color: #ea5a3e;
  }
  
  .accordion-title h2{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 80%;
  }
  
  /*Styles for the answer*/
  
  .accordion-content{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #ea5a3e;
    transition: max-height 0.6s;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .accordion-content p{
    padding: 20px;
    color: white;
  }